.questionnaire {
  padding-top: 100px;
}

.questionnaire form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionnaire__personal-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.questionnaire__field {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.questionnaire__personal-data label {
  position: absolute;
  display: none;  
  font-size: 12px;  
  z-index: 5;
}

.questionnaire__field input {
  width: 405px;
  padding: 10px 5px; 
}

 input:focus + label {  
  display: block;
}

.questionnaire__experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
}

